body{
    background-color: rgb(184, 184, 6);
    margin:0%

}


header{
    text-align: center;
    color: white;
    background-color: yellowgreen;
    padding: 50px;
    margin:0%;
    padding: 20px 40px;
}
table{ background-color: white;


}
div{
    display: flex;
    gap: 40px;
}


div img{border-radius: 40px ;
    width: 400px;
    height: 280px;

}
div{
    display:flex;
    gap:40px;

}
div h2 {
    white-space: nowrap;
    color: white;
}
div h3{
    color:whitesmoke;
    white-space: nowrap;
}

h2{
    color:whitesmoke
}

p{
    color:whitesmoke
}